APP_NAME="autism_chat_bot"
APP_VERSION="0.1"
FILE_ALLOWED_EXTENSION=["text/plain","application/pdf","application/epub+zip"]
CHUNK_SIZE=512000
MONGO_URL="mongodb://localhost:27007"
MONGO_DATABASE="Autism_chat_bot"

GENERATION_BACK_END="COHERE"
EMBEDDING_BACK_END="COHERE"

OPENAI_API_KEY=""
OPEN_API_URL=""
COHERE_API_KEY="cohere_2gD9m86CoSYyloAHVL6tUyw3wMK1hCYrEcvcW2y21K87ZD"

GENERATION_MODEL_ID="CohereForAI/command-r7b-arabic-12-2024"
EMBEDDING_MODEL_ID="embed-multilingual-v3.0"
EMBEDDING_MODEL_SIZE=1024


INPUT_DEFUALT_MAX_CHARACTERS=1024
GENERATION_DEFUALT_MAX_CHARACTERS=1024
TEMPRETURE=0.5
